---
layout: render-layout.njk
title: Funding Opportunities
component: cards
---
{% from './_includes/_components.njk' import filtercard, card, button, stats, highlight, hero, category, accordion, backtop, stayupdated, documents  %}

<style>
{% if component == "cards" %}{% include './_includes/card/_cards.css'  %} {% endif %}
{% if component == "filter" %}{% include './_includes/filtercard/_filtercards.css'  %} {% endif %}
{% if component == "button" %}{% include './_includes/button/_button.css'  %} {% endif %}
{% if component == "global" %}{% include './_includes/global/_global.css'  %} {% endif %}
{% if component == "unav" %}{% include './_includes/unav/_unav.css'  %} {% endif %}
{% if component == "stats" %}{% include './_includes/stats/_stats.css'  %} {% endif %}
{% if component == "footer" %}{% include './_includes/footer/_footer.css'  %} {% endif %}
{% if component == "highlight" %}{% include './_includes/highlight/_highlight.css'  %}  {% endif %}
{% if component == "hero" %}{% include './_includes/hero/_hero.css'  %} {% endif %}
{% if component == "category" %}{% include './_includes/category/_category.css'  %} {% endif %}
{% if component == "accordion" %}{% include './_includes/accordion/_accordion.css'  %} {% endif %}
{% if component == "backtop" %}{% include './_includes/backtop/_backtop.css'  %} {% endif %}
{% if component == "stay" %}{% include './_includes/stayupdated/_stayupdated.css'  %} {% endif %}
{% if component == "documents" %}{% include './_includes/documents/_documents.css'  %} {% endif %}
</style>

{{
    card({
        heading:"Funding Available Now",
        intro:"",
        cards:[
            {
                title:"Green Resiliency Grants to Flood Prone Communities",
                content:"$60 million of Environmental Bond Act funding is available to support flood-prone communities.",
                link:"https://efc.ny.gov/grg",
                image:"https://efc.ny.gov/sites/g/files/oee1206/files/styles/wide_lead/public/media/2024/04/ralph-wilson-park-web-hero-gradient.png?h=84071268&itok=JowZUgSX",
                imagealt:"aerial image of shorline restoration",
                deadline:"Friday, August 15, 2025"
            },
            {
                title:"Climate Smart Communities Grant Program",
                content:"Funding available to help municipalities take action to address climate change.",
                link:"https://dec.ny.gov/environmental-protection/climate-change/resources-for-local-governments/grants-for-climate-action",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/thumbnails/image/Environment_Nature_CentralPark_NYC_hero.jpg?h=3ae694ea&itok=YUaFSqN7",
                imagealt:"central park in new york city showing the skyline and water",
                deadline:"Thursday, July 31, 2025"
            },
            {
                title:"Water Quality Improvement Project (WQIP) Grant Program",
                content:"Funding available for projects that directly improve water quality or habitat, promote flood risk reduction...",
                link:"https://dec.ny.gov/get-involved/grant-applications/wqip-program",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/2024-09/LBW_03_%28c%29-Baird.jpg?h=b5f6a62e&itok=RSpr8VEW",
                imagealt:"shoreline with rocks and the sun setting",
                deadline:"Thursday, July 31, 2025"
            },
            {
                title:"Electric School Bus Infrastructure",
                content:"Governor Hochul announced funding for electric school bus charging infrastructure under the New York School Bus Incentive Program.",
                link:"https://www.nyserda.ny.gov/All-Programs/Electric-School-Buses/NY-School-Bus-Incentive-Program-Overview",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/2023-09/electric-school-buses_0.jpg?h=ec45e355&itok=Gz-4qXik",
                imagealt:"school buses"
            }
        ]
    })
}}
