---
layout: render-layout.njk
title: Funding Opportunities
component: cards
---
{% from './_includes/_components.njk' import filtercard, card, button, stats, highlight, hero, category, accordion, backtop, stayupdated, documents  %}

<style>
{% if component == "cards" %}{% include './_includes/card/_cards.css'  %} {% endif %}
{% if component == "filter" %}{% include './_includes/filtercard/_filtercards.css'  %} {% endif %}
{% if component == "button" %}{% include './_includes/button/_button.css'  %} {% endif %}
{% if component == "global" %}{% include './_includes/global/_global.css'  %} {% endif %}
{% if component == "unav" %}{% include './_includes/unav/_unav.css'  %} {% endif %}
{% if component == "stats" %}{% include './_includes/stats/_stats.css'  %} {% endif %}
{% if component == "footer" %}{% include './_includes/footer/_footer.css'  %} {% endif %}
{% if component == "highlight" %}{% include './_includes/highlight/_highlight.css'  %}  {% endif %}
{% if component == "hero" %}{% include './_includes/hero/_hero.css'  %} {% endif %}
{% if component == "category" %}{% include './_includes/category/_category.css'  %} {% endif %}
{% if component == "accordion" %}{% include './_includes/accordion/_accordion.css'  %} {% endif %}
{% if component == "backtop" %}{% include './_includes/backtop/_backtop.css'  %} {% endif %}
{% if component == "stay" %}{% include './_includes/stayupdated/_stayupdated.css'  %} {% endif %}
{% if component == "documents" %}{% include './_includes/documents/_documents.css'  %} {% endif %}
</style>
{{
    card({
        heading:"Featured",
        intro:"",
        cards:[
            {
                title:"On Earth Day, Governor Hochul Announces $60 Million in Environmental Bond Act Funding for Green Resiliency Grants",
                content:"$60 million in Environmental Bond Act funding for the next round of Green Resiliency Grants.",
                link:"https://www.governor.ny.gov/news/earth-day-governor-hochul-announces-60-million-environmental-bond-act-funding-green-resiliency",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/2024-09/LBW_03_%28c%29-Baird.jpg?h=b5f6a62e&itok=RSpr8VEW",
                imagealt:"a rocky shoreline, possibly long island"
            },
            {
                title:"Hudson River Valley Greenway Announces Award of $2.2 Million to Improve Resiliency of the Albany-Hudson Electric Trail",
                content:"The project will address persistent, widespread problems where stormwater runoff eroded stone dust sections of the trail",
                link:"https://dec.ny.gov/news/press-releases/2025/4/during-earth-week-2025-the-hudson-river-valley-greenway-announces-award-of-22-million-in-environmental-bond-act-funds-to-improve-resiliency-of-the-albany-hudson-electric-trail",
                image:"https://empiretrail.ny.gov/sites/default/files/styles/max_2600/public/2021-12/AHET%20In%20Stockport.jpg?itok=jt78nq6P",
                imagealt:"person riding a bicycle on a trail at sunset"
            },
            {
                title:"Unplug and Play: $20 Million in Funding for New Municipal Parks and Recreation Grant Program  ",
                content:"Grant Program Complements Unplug and Play Initiative in Governor Hochul’s 2025 State of the State, Encouraging Kids to Get Outside and Off of Their Phones",
                link:"https://www.governor.ny.gov/news/unplug-and-play-governor-hochul-announces-20-million-funding-new-municipal-parks-and",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/2021-06/school_playground_kids_1280.jpg?h=5825a585&itok=98CR2Vhr",
                imagealt:"kids playing on a playground"
            },
            {
                title:"Governor Hochul Announces $80 Million in Clean Water, Clean Air and Green Jobs Environmental Bond Act Funds to Support Resiliency Initiatives  ",
                content:"Programs Fund Projects to Restore Habitat and Floodplains, Reduce Inland Flooding, and Make Coastal Areas More Resilient to Extreme Weather Impacts",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-80-million-clean-water-clean-air-and-green-jobs-environmental-bond",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/2024-09/LBW_03_%28c%29-Baird.jpg?h=b5f6a62e&itok=RSpr8VEW",
                imagealt:"a rocky shoreline, possibly long island"
            },
            {
                title:"Governor Hochul Announces $150 Million Investments in Bond Act Funding to SUNY and CUNY Campuses",
                content:"$150 million in climate resiliency grants  to make New York State’s public college campuses greener, more resilient to severe weather and more energy efficient.",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-150-million-investments-clean-water-clean-air-and-green-jobs",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/thumbnails/image/UBuffalo-building-wide%5B1%5D.jpg?h=b8d8fd1c&itok=1pl-Dofz",
                imagealt:"A college campus in fall with trees just changing colors"
            },
            {
                title:"Governor Hochul Announces Launch of New 25 Million Trees Initiative ‘Tree Tracker’ ",
                content:"New Yorkers Encouraged to Record Tree Plantings to Contribute to Statewide Sustainability and Reforestation Goals",
                link:"https://www.governor.ny.gov/news/governor-hochul-announces-launch-new-25-million-trees-initiative-tree-tracker",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/thumbnails/image/arborday_trees_adirondacks_hero.jpg?h=b5f6a62e&itok=Azh_ur3Z",
                imagealt:"green trees with a skyline of mountains in the background. Likely the adirondacks."
            }
            
            
        ]
    })
}}