---
layout: render-layout.njk
title: Funding Opportunities
component: filter
---
{% from './_includes/_components.njk' import filtercard, card, button, stats, highlight, hero, category, accordion, backtop, stayupdated, documents  %}

<style>
{% if component == "cards" %}{% include './_includes/card/_cards.css'  %} {% endif %}
{% if component == "filter" %}{% include './_includes/filtercard/_filtercards.css'  %} {% endif %}
{% if component == "button" %}{% include './_includes/button/_button.css'  %} {% endif %}
{% if component == "global" %}{% include './_includes/global/_global.css'  %} {% endif %}
{% if component == "unav" %}{% include './_includes/unav/_unav.css'  %} {% endif %}
{% if component == "stats" %}{% include './_includes/stats/_stats.css'  %} {% endif %}
{% if component == "footer" %}{% include './_includes/footer/_footer.css'  %} {% endif %}
{% if component == "highlight" %}{% include './_includes/highlight/_highlight.css'  %}  {% endif %}
{% if component == "hero" %}{% include './_includes/hero/_hero.css'  %} {% endif %}
{% if component == "category" %}{% include './_includes/category/_category.css'  %} {% endif %}
{% if component == "accordion" %}{% include './_includes/accordion/_accordion.css'  %} {% endif %}
{% if component == "backtop" %}{% include './_includes/backtop/_backtop.css'  %} {% endif %}
{% if component == "stay" %}{% include './_includes/stayupdated/_stayupdated.css'  %} {% endif %}
{% if component == "documents" %}{% include './_includes/documents/_documents.css'  %} {% endif %}
</style>


{{
    card({
        heading:"Funding Available Now",
        intro:"",
        cards:[
             {
                title:"Resilient Watershed Grants",
                content:"Bond Act funding is available for projects that will enhance community resilience and reduce flood risk.",
                link:"https://dec.ny.gov/environmental-protection/water/water-quantity/resilient-ny",
                image:"https://dec.ny.gov/sites/default/files/styles/hero_background/public/2025-01/hudsonriverfinch.jpg?h=6499b6f1&itok=pwuERhHh&upd=1736349114",
                imagealt:"Hudson River Finch stream between tree lines",
                deadline:"June 26, 2026"
            },
            {
                title:"Community Resilience and Flood Risk Reduction Grants",
                content:"Bond Act funding is available for projects that will enhance community resilience and reduce flood risk.",
                link:"https://dos.ny.gov/clean-water-clean-air-and-green-jobs-environmental-bond-act-2022-community-resilience-and-flood?utm_medium=email&utm_name=&utm_source=govdelivery",
                image:"https://dos.ny.gov/sites/g/files/oee926/files/styles/wide_lead/public/media/2026/03/c20fbcf2-0456-47c1-8461-7e181f373c34_0.jpg?h=827069f2&itok=WRCe-oa6",
                imagealt:"Grass in sand and brown wooden fence on beach side",
                deadline:"June 26, 2026"
            },
            {
                title:"Farmland Protection Implementation Grants",
                content:"Bond Act funding available for the implementation of certain farmland protection activities intended to maintain the economic viability of the State’s agricultural industry and its supporting land base.",
                link:"https://agriculture.ny.gov/rfa-0393-farmland-protection-implementation-grants-round-20-agricultural-conservation-easement",
                image:"https://agriculture.ny.gov/sites/g/files/oee1031/files/styles/wide_lead/public/media/2023/12/cl_f2008_056.jpg?h=265e640d&itok=X_GZlVPJ",
                imagealt:"open farmland",
                deadline:""
            },
            {
                title:"Electric School Bus Infrastructure",
                content:"Governor Hochul announced funding for electric school bus charging infrastructure under the New York School Bus Incentive Program.",
                link:"https://www.nyserda.ny.gov/All-Programs/Electric-School-Buses/NY-School-Bus-Incentive-Program-Overview",
                image:"https://www.governor.ny.gov/sites/default/files/styles/hero_wide/public/2023-09/electric-school-buses_0.jpg?h=ec45e355&itok=Gz-4qXik",
                imagealt:"school buses"
            }
        ]
    })
}}