---
layout: layout.njk
title: documents
---
{% from '../_includes/_components.njk' import filtercard, card, button, stats, highlight, hero, accordion, documents  %}

{{
    filtercard({
        heading:"Read the Act",
        archive:false,
        cards:[
            {
                agency:"Legislation",
                title:"Read the Clean Water, Clean Air and Green Jobs Environmental Bond Act of 2022 ",
                link:"https://www.nysenate.gov/legislation/laws/ENV/A58",
                description:"On November 8, 2022, New Yorkers overwhelmingly approved a ballot proposition to make $4.2 billion available for environmental and community projects. State agencies, local governments, and partners can access funding to protect water quality, help communities adapt to climate change, improve resiliency and create green jobs.",
                date:"" 
            }
            
        ]
    })
}}


{{
    documents({
        headline:"Annual Reports",
        description:"",
        documents:[
            {
                link:"https://extapps.dec.ny.gov/fs/programs/BondActNYS/CWCAGJ-Environmental-Bond-Act-FY-2023-24-Annual-Report.pdf",
                text:"Environmental Bond Act Annual Report FY 2023-2024 ",
                type:"document"
            }
    ]
    })
}}


{{
    documents({
        headline:"Project Sign Specifications ",
        description:"",
        documents:[
            {
                link:"https://extapps.dec.ny.gov/fs/programs/BondActNYS/BondActSign-UsageSpecs.pdf",
                text:"Permanent Project Sign Specifications",
                type:"document"
            }
    ]
    })
}}


{{
    documents({
        headline:"Project Sign Templates ",
        description:"",
        documents:[
            {
                link:"https://extapps.dec.ny.gov/fs/programs/BondActNYS/BondActSign-48x24-MULTI AGENCY_final.mem.pdf",
                text:"Multi Agency 48x24 Project Sign Template",
                type:"document"
            },
            {
                link:"https://extapps.dec.ny.gov/fs/programs/BondActNYS/BondActSign-48x24-SINGLE%20AGENCY_final.mem.pdf",
                text:"Single Agency Funded 48x24 Project Sign Template",
                type:"document"
            }
    ]
    })
}}

{{
    documents({
        headline:"Logos ",
        description:"",
        documents:[
            {
                link:"https://extapps.dec.ny.gov/fs/programs/BondActNYS/CleanWaterCleanAirandGreenJobsEnvironmentalBondAct_Lockup_PRIMARY (1).jpg",
                text:"CWCAGJ Environmental Bond Act logo with background",
                type:"document"
            },
            {
                link:"https://extapps.dec.ny.gov/fs/programs/BondActNYS/CleanWaterCleanAirandGreenJobsEnvironmentalBondAct_Lockup_PRIMARY%20(1).png",
                text:"CWCAGJ Environmental Bond Act logo without background",
                type:"document"
            }
    ]
    })
}}